/* css reset  */
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-us-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* firsst column stylying  */
.content-first-column {
    padding: 1rem 3rem 1rem 7rem;
    height: 559px;

}

.background-color-silver {
    background-color: #f7f7f7;
    width: 1450px;
    height: 95%;
}
.social-icons > a {
    text-decoration: none;
}

.text {
    padding-right: 10rem;
}

.title {
    margin: 1rem 0 1rem 0;
}

.title>h1 {
    font-family: 'Circular-Loom';
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    background-image: linear-gradient(45deg, #0a1dc9e6, #00ff37e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text>p {
    font-family: 'Circular-Loom';
    color: #0000009e;
    FONT-WEIGHT: 500;
    line-height: 1.9;
}

.logo {
    height: 192px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
    gap: 1em;
    margin-top: 1rem;
}

a {
    text-decoration: none;
}

.social-icons>a>i {
    height: 3rem;
    width: 3rem;
    background-color: purple;
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.social-icons .fa-facebook {
    background-color: #4267b2 !important;
}

.social-icons .fa-instagram {
    background-color: #833ab4;
}

.social-icons .fa-github {
    background-color: black;
}

/* second column  */
.for-color {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.for-color>.background-color-yellow {
    background-image: linear-gradient(45deg, #0a1dc9e6, #00ff37e6);
    height: 100px;
    width: 500px;
    margin-bottom: 0.3em;
}

.form-main-wrapper {
    border: 8px solid;
    border-image: linear-gradient(45deg, #0a1dc9e6, #00ff37e6) 1;
    height: 100%;
    width: 908px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: -75px;

}

.form-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 1rem 0;
    text-align: center;
}

.form-tittle>h1 {
    font-size: 26px;
    font-family: 'Circular-Loom';
    text-align: center;
    background-image: linear-gradient(45deg, #0a1dc9e6, #00ff37e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fomr-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.fomr-text>p {
    text-align: center;
    color: #00000082;
    font-weight: 500;
    font-family: 'Circular-Loom';
    text-align: center;
}

.button {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1em 4em;
}

.form .button {
    background-image: linear-gradient(45deg, #0a1dc9e6, #00ff37e6);
    padding: 0.5rem 6rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Circular-Loom';
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#user_login {
    padding: 1em 1.3em;
    background-color: #0000001c;
    border: none;
    border-radius: 5px;
    color: black;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
}

#user_email {
    padding: 1em 1.3em;
    background-color: #0000001c;
    border: none;
    border-radius: 5px;
    color: black;
    margin: .5rem 0 1rem 0;
    width: 100%;
}

.des {
    padding: 1em 1.3em;
    background-color: #0000001c;
    border: none;
    border-radius: 5px;
    color: black;
    margin: .5rem 0 1rem 0;
    width: 100% !important;
    resize: none;

}

.form>form>input,
.form>form>textarea:focus {
    outline: none;
}





.logo-two {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-right-image {
    height: 339px;
}
